<header id="adminPageHeader">
    <h4>sadmin</h4>
    <nav>
        <ul>
            <li>
                Users
            </li>
            <li>
                Groups
            </li>
            <li>
                Year setup
            </li>
        </ul>
    </nav>
</header>