<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>

    <div id="content"></div>
    <div id="debug" style="border-top: 1px #999 solid">
      <ul>
        <% for(var i=0; i<users.length; i++) {%>
           <li><%= users[i].first_name %> <%= users[i].last_name %></li>
        <% } %>
      </ul> 
    </div>
    <script src="/javascripts/dist/index.js"></script>
  </body>
</html>
