body
  padding: 1.5rem
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  text-align left
a
  color: #00B7FF

#adminPageHeader
  //border-bottom 1px dotted #999
  margin-bottom 1.5rem
  nav, h2
    display: inline-block
    vertical-align middle
  nav
    margin-top 12px
  h2
    border-right: 3px solid #db3
    margin-right .75rem
    padding-right .75rem
  .dropdown
    display inline-block
  /*ul
    padding: 0
    li
      display: inline-block
      border-bottom: 3px solid #db3*/

