body {
  padding: 1.5rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: left;
}
a {
  color: #00b7ff;
}
#adminPageHeader {
  margin-bottom: 1.5rem;
/*ul
    padding: 0
    li
      display: inline-block
      border-bottom: 3px solid #db3*/
}
#adminPageHeader nav,
#adminPageHeader h2 {
  display: inline-block;
  vertical-align: middle;
}
#adminPageHeader nav {
  margin-top: 12px;
}
#adminPageHeader h2 {
  border-right: 3px solid #db3;
  margin-right: 0.75rem;
  padding-right: 0.75rem;
}
#adminPageHeader .dropdown {
  display: inline-block;
}
